body{
  background-color: black;
  font-family: Oswald;
}
.navbar {
  font-family: Oswald;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-links li {
  display: inline-block;
  margin-right: 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #000;
}

.container {
  display: flex;
  font-family: Oswald;
}

.column {
  flex: 1;
  padding: 20px;
}

.column h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column p {
  color: white;
}
button{
  background-color: skyblue;
  border-radius: 20px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}
h1{
  color: white;
}
h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  color: white;
  line-height: 1.5;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 2px;
  background-color: #eee;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

.object {
  background-color: #ff0000;
  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

.footer {
  background-color: black;
  color: #fff;
  padding: 20px 0;
  border-radius: 20px;
}

.bas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
}